#propick .App-Bar {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: gray;
    /* background-color: #009BFF; */
  }

@media (min-width: 940px){
    #propick-info .section-height {
        height: 650px !important;
    }
    #howgood .section-height {
        height: 500px !important;
    }
    #howto .section-height {
        height: 500px !important;
    }
    .left-info-panel {
        padding-right: 20px !important;
    }
    .right-info-panel {
        padding-top: 10px;
        height: 600px !important;
    }

    .right-info-panel img {
        width: 80% !important;
        height: 110% !important;
        z-index: 10;
    }
    .info-detail p {
        padding-top: 20px;
        /* padding-left: 60px;
        padding-right: 60px; */
        text-align: center;
        /* color: rgb(255, 255, 255); */
        font-size: 20px;
        justify-content: center;
    }

    .propick-logo-download {
        height: 80px !important;
    }
    .propick-logo-download img {
        /* margin-top: 50px !important; */
        width: 100%;
        height: 80%;
        position: relative;
    }
    .propick-logo {
        width: 100%;
        height: 50%;
    }

    .howto-head p {
        padding-top: 30px !important;
        font-size: 6rem !important;
        text-align: left;
        /* padding-left: 50px; */
        padding-bottom: 30px;
        font-weight: 400;
        color: white !important;
        text-transform: uppercase;
    }

    .service-head p {
        padding-top: 30px !important;
        font-size: 6rem !important;
        text-align: center;
        /* padding-left: 120px; */
        padding-bottom: 30px;
        text-transform: uppercase;
        color: #009BFF !important;
    }

    .howgood p {
        padding-top: 30px !important;
        font-size: 6rem !important;
        text-align: center;
        /* padding-left: 60px; */
        text-transform: uppercase;
    }

    .howgood-row-height-name{
        height: 200px;
        padding-top: 30px;
    }

    .howgood-row-height-detail {
        height: 200px;
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .head p {
        font-size: 5rem;
        color: #009BFF;
        font-family:'SukhumvitSet-Medium';
        text-transform: uppercase;
        font-weight: 600;
    }
    .howgood-detail span {
        content: "";
        position: absolute;
        width: 40px;
        left: 43%;
        height: 4px;
        background: #324158;
    }

    .title p {
        padding-top: 20px;
        font-size: 5rem;
        color: #324158;
        font-family:'SukhumvitSet-Medium';
        text-transform: uppercase;
    }

    .service-item {
        height: 300px !important;
      }
    .howto-padding{
        padding-top: 10px;
    }

    #formCalculate img {
        margin-top: 20px;
        margin-right: 20px;
        height: 50px;
    }
}

.right-info-panel{
    padding-top: 10px;
    padding-bottom: 10px;
}

.right-info-panel img{
    width: 80% !important;
    /* height: 100%; */
}

.propick-section-header {
    margin-top: 0 !important;
    padding-bottom: 0px;
    padding-top: 30px;
    color: #454545;
  }
  .propick-section-header .section-title {
    font-size: 36px;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 20px;
    margin: 0 0 20px;
    font-family:'SukhumvitSet-Medium';
    font-weight:600;
  }

  .propick-section-header .section-title:before {
    content: "";
    position: absolute;
    width: 140px;
    bottom: 0;
    left: 50%;
    margin-left: -70px;
    height: 2px;
    background: #009BFF;
  }

  .propick-section-header .section-title:after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: -11px;
    left: 50%;
    margin-left: -12px;
    border: 5px solid #fff;
    border-radius: 20px;
    background:  #009BFF;
  }

.info-bg {
    /* background-color: #009BFF; */
     /* position: relative; */
     background-position: no-repeat center center !important;
     background-size: 100% 100%;
     width: auto !important;
     /* opacity: 0.8; */
     z-index: -1;
}

.howgood-bg {
    background-color: #FFF;
}

.howwork-bg {
    background-color: rgb(187, 187, 187);
}

.propick-service-bg {
    background-color: rgb(255, 255, 255);
}

.howto-bg {
    background-color: #009BFF;
}

.contactus-bg {
    background-color: #324158;
}

.propick-logo-download {
    height: 60px;
    margin-bottom: 10px;
}

.propick-logo-download img {
    margin-top: 30px;
    width: 100%;
    height: 80%;
    position: relative;
}
.propick-logo {
    width: 100%;
    height: 50%;
}

.propick-logo img {
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100px;
    height: 100%;
    position: relative;
}

.info-detail p {
    text-align: center;
    font-size: 30px;
    justify-content: center;
}
/* 
.howgood {
   position: absolute;
} */

.howgood p {
    padding-top: 30px;
    font-size: xx-large;
    color: #009BFF;
    font-weight: 600;
    font-family: 'SukhumvitSet-Text', sans-serif;
    text-transform: uppercase;
}

.howto-head p {
    padding-top: 30px !important;
    font-size: xx-large;
    color: #009BFF;
    font-weight: 600;
    font-family: 'SukhumvitSet-Text', sans-serif;
    text-transform: uppercase;
}

.service-head p {
    padding-top: 30px !important;
    font-size: xx-large;
    color: #fff;
    font-weight: 600;
    font-family: 'SukhumvitSet-Text', sans-serif;
    text-transform: uppercase;
}

.service-detail {
    position: relative;
    display:inline-block;
    border-radius: 15px 15px 0 0;
    border: 1px solid rgb(255, 255, 255);
}
.service-detail img {
    max-width:100%;
    border-radius: 15px 15px 0 0;
}
.service-detail h3 {
    background-color: rgb(252,119,35);
    position: absolute;
    /* bottom: 0px; */
    margin-top: 0px;
    left: 0px;
    right:0;
    line-height: 50px;
    color: #FFF;
    /* border-radius: 0 0 25px 25px; */
    /* border: 2px solid rgb(255, 255, 255); */
    /* border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; */
}
.service-item {
    background-position: center no-repeat;
    background-size: cover;
    width: 100%;
    display: block;
    border-radius: 2px;
      /* box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
      transition: box-shadow .25s; */
      overflow: hidden;
  }

  .service-item .slider-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
  }

  .service-item .slider-inner .btn {
    position: absolute;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 20px !important; 
    bottom: 0;
    left: 0;
    right: 0;
    background:transparent; 
    border:2px solid rgb(255, 255, 255); 
    border-radius:0px;
    
  }

  .service-item .slider-inner .btn.btn-primary{ padding:10px 46px; font-size:18px;}
  .service-item .slider-inner .btn.btn-primary:hover{ background:#00BFFF;}

  .client img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    }
.image-gallery {
    padding-top: 50px;
    padding-bottom: 75px;
    position: relative;
    display:inline-block;
    background-size: 100% 100%
}

.image-gallery .carousel-inner .item {
    padding-left: 20px;
    padding-right: 20px;
}

/* .image-gallery .carousel-inner .item img {
    border:2px solid rgb(175, 175, 175); 
    border-radius:0px;
} */

.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(255, 255, 255, 0.5) 0,rgba(255, 255, 255, 0.5) 100%);
  }
  .carousel-control.right {
    background-image: -webkit-linear-gradient(left,rgba(255, 255, 255, 0.5) 0,rgba(255, 255, 255, 0.5) 100%);
  }
  .carousel-control{
    color: rgb(255, 255, 255);
    width: unset;
  }

#formCalculate {
    padding-top: 30px;
    padding-bottom: 30px;
}

#map {
    padding-left: 0px;
    padding-right: 0px;
}

#calculate {
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid rgb(196, 196, 196);
    /* background-color: #009BFF; */
}